body{
    background-color: rgb(216, 213, 213);
}

nav{
    background: black;
    padding: 10px;
    color: white;
    margin-left: -10px;
    margin-right: -8px;
    display: flex;
}

footer{
    background-color: black;
    color: whitesmoke;
    margin-left: -10px;
    margin-right: -8px;
    padding: 10px;
    margin-top: -15px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul{
    margin-left: -20px;
}

ol{
    padding: 0;
    margin: 0;
}

ol li {
    display: inline-flex;
}

.ol-normal li {
    display: list-item;
}

.li-normal{
    display: list-item;

}

iframe{
    display: inline-flex;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: gray;
}

div {
    text-align: center;
}

p{
    text-align: center;
}